@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    display: none;
}

html {
    scrollbar-width: none;
}

body {
    -ms-overflow-style: none;
}

.btn:hover {
    @apply shadow-none
}

.btn-primary {
    @apply text-white-darken
}

.alert-success,
.alert-info,
.alert-error {
    @apply text-white-darken
}

.alert-warning {
    @apply text-primary
}

.alert-info {
    @apply bg-primary/75
}